@import '../../utils/colours.scss';

.topnav {
  overflow: hidden;
  background-color: $brand-bg-dark;
  border-style: outset;
  border-color: $brand-bd-dark;
  border-width: 10;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
      div {
        float: left;
        color: $brand-bg;
        text-align: center;
        padding: 14px 14px;
        text-decoration: none;
        font-size: 17px;
        list-style: none;
        border-width: 3;
      }
      div:hover {
        background-color: $brand-bg;
        color: black;
      }
    }
}

.selected{
  background-color: $brand-bd-dark;
}


 .title {
  float: right;
  background-color: $brand-bg;
  display: flex;
  align-items: center;
  justify-content: center;
  .text {
    color: black;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
    list-style: none;
    border-width: 3;
  }
  .logo{
    height: 2.75rem;
    width: 2.75rem;
    float: right;
    border-style: outset;
    border-width: 0.1rem;
  
   }
 }

 

 

